$maxWidth: 1440
@mixin adaptiv-font($pcSize, $mobSize)
	$addSize: $pcSize - $mobSize
	$maxWidth: $maxWidth - 320
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}))

.projects-wrapper
  @media only screen and (max-width: 360px)
    margin: 0 20px

.projects-preview-wrapper
  position: relative
  width: 100%
  display: flex
  justify-content: space-between
  @media only screen and (max-width: 425px)
    margin-bottom: 10px
    height: auto

.project-item
  width: 1232px
  display: flex
  justify-content: space-between
  flex-direction: column
  @media only screen and (max-width: 1280px)
    width: 1140px
  @media only screen and (max-width: 1024px)
    width: 924px
  @media only screen and (max-width: 768px)
    width: 728px
  @media only screen and (max-width: 425px)
    flex-direction: column
    width: 100%
  & p
    width: 100%
    text-align: center
    @include adaptiv-font(30, 18)
    font-weight: 700
    margin-bottom: 25px
    @media only screen and (max-width: 1024px)
      margin-bottom: 10px
      text-align: center
    @media only screen and (max-width: 425px)
      display: none
  & span
    @include adaptiv-font(25, 20)
    line-height: 35px
    margin-bottom: 25px
    @media only screen and (max-width: 1024px)
      line-height: 30px
      margin-bottom: 15px

  &__anim
    height: auto
    margin-bottom: 20px
    @media only screen and (max-width: 1024px)
      width: 100%
    @media only screen and (max-width: 425px)
      display: none
    & img
      width: 100%
      border: 1px solid #000


.project-item-img-mobile
  display: none
  @media only screen and (max-width: 425px)
    display: block
    height: 50%
    height: auto
    margin-bottom: 5px

.project-description
  font-size: 1rem
  line-height: 25px
  font-weight: 500
  margin: 0
  display: flex
  flex-direction: column
  @media only screen and (max-width: 425px)
    margin: 0 0 25px
    display: none
  &__links
    width: 100%
    display: flex
    justify-content: center
    & button
      &:first-child
        margin-right: 10px
      & a
        width: 100%

.project-description-mobile
  display: none
  @media only screen and (max-width: 425px)
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 50%
  & span
    font-size: 14px
    line-height: 20px
    margin-bottom: 15px

.project-item-title-mobile
  display: none
  text-align: center
  width: 100%
  font-size: 15px
  font-weight: 700
  margin-bottom: 10px
  @media only screen and (max-width: 425px)
    display: block
  @media only screen and (max-width: 360px)
    width: 100%
    font-size: 13px

.project-description-text-mobile
  font-size: 1rem
  line-height: 25px
  font-weight: 500
  margin-bottom: 12px
  @media only screen and (max-width: 425px)
    display: block
    height: auto
